@model IEnumerable<Lpg.Data.Entity.Stock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <form action="List" method="Get">
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-3 text-dark">Brand</label>
                    <select class="col-md-8" name="brandSearch" >
                        <option value=""></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="col-md-3 text-dark">Size</label>
                    <select class="col-md-8" name="sizeSearch" >
                        <option value=""></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="col-md-4 text-dark">Gas Wieght</label>
                    <select class="col-md-7" name="gasWeightSearch" >
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="offset-md-10 col-md-2">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-primary">Search</button>
                        <button class="btn btn-warning">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive-md mt-3">
    <table class="table table-md table-sm table-bordered">
        <thead style="background-color:#1b6ec2">
            <tr class="text-center text-white">
                <th>
                    @Html.DisplayNameFor(model => model.StockNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayName("Cylinder")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cylinder.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="card bg-light paging-footer">
    <div class="">
        <a asp-action="List" class="btn btn-default ">Previous</a>
        <a asp-action="List" class="btn btn-default "> Next</a>

    </div>
</div>