@model IEnumerable<Lpg.Data.Entity.Stock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="header mb-3">
    <a asp-action="Create">Create New</a>
    <form asp-action="List" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="table-responsive-lg table-responsive-md">
    <table class="table table-sm table-bordered">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>
                    @Html.DisplayNameFor(model => model.StockNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantityInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CylinderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cylinder.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>