@model IEnumerable<PurchaseOrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form asp-action="Create">
    <div class="card" style="background-color: #f7f7f9 !important">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-md-2">Company Name</label>
                        <div>
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-10 col-md-2">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<table class="table table-md table-sm table-bordered">
    <thead style="background-color:#1b6ec2">
        <tr class="text-center text-white">
            <th>
                Po Number
            </th>
            <th>
                Po Date
            </th>
            <th>
                Delivery Date
            </th>
            <th>
                Supplier
            </th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PoNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoStatuse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/client/controllers/purchaseOrderCtrl.js"></script>
}

