@model PaginatedList<CylinderViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-body">
        <form action="List" method="Get">
            <div class="row">
                <div class="col-md-4">
                    <label class="col-md-3 text-dark">Brand</label>
                    <select class="col-md-8" name="brandSearch" asp-items="@(ViewBag.BrandList)">
                        <option value=""></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="col-md-3 text-dark">Size</label>
                    <select class="col-md-8" name="sizeSearch" asp-items="@(ViewBag.SizeList)">
                        <option value=""></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="col-md-4 text-dark">Gas Wieght</label>
                    <select class="col-md-7" name="gasWeightSearch" asp-items="@(ViewBag.GasWeightList)">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="offset-md-10 col-md-2">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-primary">Search</button>
                        <button class="btn btn-warning">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="table-responsive-md mt-3">
    <table class="table table-md table-sm table-bordered">
        <thead  style="background-color:#1b6ec2">
            <tr class="text-center text-white">
                <th>
                    @Html.DisplayName("Brand")
                </th>
                <th>
                    @Html.DisplayName("Size(MM)")
                </th>
                <th>
                    @Html.DisplayName("Gas Weight(Kg)")
                </th>
                <th>
                    @Html.DisplayName("Cylinder Weight(Kg)")
                </th>
                <th>
                    @Html.DisplayName("Total Weight(Kg)")
                </th>
                <th>
                    @Html.DisplayName("Cylinder Color")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GasWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CylinderWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
</div>
<div class="card bg-light paging-footer">
    <div class="">
        <a asp-action="List" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
        <a asp-action="List" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-default @nextDisabled"> Next</a>
        
    </div>
</div>

@section Scripts{
    <script src="~/js/client/services/cylinder/cylinderDataSvc.js"></script>
    <script src="~/js/client/controllers/cylinder/cylinderCtrl.js"></script>
}

