@model PaginatedList<SupplierViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Supplier List</h5>

<form asp-action="Create">
    <div class="card" style="background-color: #f7f7f9 !important">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-md-2">Company Name</label>
                        <div >
                            <input type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-10 col-md-2">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<div class="table-responsive-md mt-3">
    <table class="table table-md table-sm table-bordered">
        <thead style="background-color:#1b6ec2">
            <tr class="text-center text-white">
                <th>
                    @Html.DisplayName("Company Name")
                </th>
                <th>
                    @Html.DisplayName("Address")
                </th>
                <th>
                    @Html.DisplayName("Contact")
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    </div>
    <div class="card bg-light paging-footer">
        <div>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="List"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default @nextDisabled">
                Next
            </a>

        </div>

    </div>
